@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
body {
  background-color: #ECEEEF;
}
/*always use a clear fix for floated elements*/
.navigation {
  /*border: 1px solid black;*/
  overflow: auto;
  padding: 20px;
	box-shadow: 0 5px 5px -5px #333;
}

/*nav head title*/
.navigationLeft{
  font-size: 17pt;
  font-weight: bold;
  float: left;
}
/*nav head right content*/
.navigationRight{
  float:right;
  vertical-align: middle;
}
.navigationRight span{
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}
.navigationRight span:first-child{
    font-weight: bold;
    font-size: 15pt;
    color: #A3ADB2;

}
.navigationRight span:nth-child(n+3){
  border-left: 1px solid #999;
}

.navigationRight img{
  width: 40px;
  vertical-align: middle;

}
.navigationRight span:nth-child(4){
  position: relative;
}
.navigationRight span:nth-child(4):after{
  content:"7";
  color:white;
  text-align: center;
  padding-top: 1px;
  border-radius: 3px;
  left: 32px;
  width: 15px;
  height: 20px;
  background-color: #E25C63;
  position: absolute;



}
/*.navigation span:nth-child(n+2){
  font-weight: bold;
  color: red;
  float: right;
}*/
.container{
  /*border: 1px solid black;*/
  margin: 0 auto;
  width: 80%;
}
