@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
body {
  background-color: #ECEEEF;
}
span{
  vertical-align: middle;
}
img{
    vertical-align: middle;
}
/*always use a clear fix for floated elements*/
.navigation {
  /*border: 1px solid black;*/
  overflow: auto;
  padding: 20px;
	box-shadow: 0 10px 10px -10px #444;
}

/*nav head title*/
.navigationLeft{
  font-size: 17pt;
  font-weight: bold;
  float: left;
}
/*nav head right content*/
.navigationRight{
  float:right;
  vertical-align: middle;
}
.navigationRight span{
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}
.navigationRight span:first-child{
    font-weight: bold;
    font-size: 15pt;
    color: #A3ADB2;

}
.navigationRight span:nth-child(n+3){
  border-left: 1px solid #999;
}

.navigationRight img{
  width: 40px;
  opacity: .3;

}
.navigationRight span:nth-child(4){
  position: relative;
}
.navigationRight span:nth-child(4):after{
  content:"7";
  color:white;
  text-align: center;
  padding-top: 1px;
  border-radius: 3px;
  left: 32px;
  width: 15px;
  height: 20px;
  background-color: #E25C63;
  position: absolute;
}
/*crafty responsive styles from w3c*/
/*basically floats everything left and adds some padding*/
/*http://www.w3schools.com/css/css_rwd_grid.asp*/

.box {
  margin-top: 1em;
  /*for squishy use width: 45% margin-left: 2%*/
  max-width: 45%;
  margin-left: 3%;
  /*margin-left: 2%;*/
  /*margin:auto;*/

  float: left;
  /*padding: 15px;*/
  border-radius: 7px;
  background-color: #fff;
  /*border: 1px solid black;*/
  overflow: hidden;
  box-shadow: 0 2px 0 0px #ccc;
}
.box-padding{
  padding: 1em;
}
.boxContent h2{
  font-size: 11pt;
  color: #7D8E90;
}
.boxContent h3{
  font-size: 15pt;
  color: #4C5759;
  margin-bottom: 15px;
}
.boxContent p{
  color: #7D8E90;
  margin-bottom: 1.5em;
  overflow: auto;
}
.greenBoxHeader{
  background-color: #2C9676;
}
.green{
  color: #2C9676;
}
.pink{
  color:#F092B0;
}
.purple{
  color: #838CC7;
}
.purpleBoxHeader{
  background-color: #838CC7;
}
.pinkBoxHeader{
  background-color: #F092B0;
}
.boxHead{
  color: #fff;
}
.boxHead img{
  width:21px;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  font-size: 9pt;
  letter-spacing: 0px;
  filter: invert(1);
}

a.roundLink{
  border: 2px solid #ECEEEF;
  border-radius: 18px;
  padding:0 15px;
	line-height:32px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0 20px 0;
}
a.left{
  float: left;

  /*SAME COLOR AS HEADING*/
}
/*5th child????*/
a.roundLink:nth-child(5){
  margin-left: 10px;
  color: #7D8E90;

}
a.right{
  float: right;
  border-radius: 35px;
  color: #7D8E90;

}
.small img{
  width: 8px;
  margin-left: 10px;
  opacity: .5;
  filter: invert(1);
}
.boxHead span:last-child{
  float: right;
  vertical-align: middle;
}
/*bascially adds a shim below the row to make everything even height*/
.content::after{
  content: "";
  clear: both;
  display: block;
}


/*.navigation span:nth-child(n+2){
  font-weight: bold;
  color: red;
  float: right;
}*/
.content{
  /*border: 1px solid black;*/
  margin:auto;
  overflow:auto;
}
.container{
  /*border: 1px solid black;*/
  margin: 0 auto;
  width: 85%;


}
